{% extends 'base.html' %}

{% block css %}
<style>
        body{
                background-color: blanchedalmond;
                background-repeat: no-repeat;
                background-position: right;
        }
    </style>
{% endblock %}
{% block body %}
<p>Hello there! my name is Shambhavi Shukla. I have created a website where you can play a quiz game using your hands. only you have to do is 
        take your hands in front of your camera and you see that there is points detecting your hands and you have to choose an option, when you
        select one option it will automatically takes you another question and at the end of the quiz it will show you your total score.
</p>
{% endblock %}
{% block js %}{% endblock %}
